# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# .gitignore

# Node modules
node_modules/
frontend/.next/
frontend/.vercel/
frontend/.env.local

# Foundry
contracts/out/
contracts/cache/
contracts/.env

# General
.DS_Store
.env
.env.*
*.log

